

body {
    margin: 0;
    background-color: #111111;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/* Header */
header {
    width: 100%;
    height: 80px;
    align-items:center;
    padding: 0 60px 0 60px;
    font-size: 22px;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
}

header > nav {
    margin: 0;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    height: 45px;

    font-family: "Fjalla One", sans-serif;

    display: flex;
    align-items: center;
}

header > nav > ul a {
    text-decoration: none;
    color: #ffffff;
}

nav > ul {
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
}

nav > ul > li  a {
    margin: 0 30px 0 30px;
}

header > div:last-child {
    width: 100px;
    height: 45px;
    background: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div:last-child > a {
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    padding: 10px;
    color: #111111;
}

#logo {
    font-family: "Changa One", sans-serif;
}











/* Contact Section */
#contactSection {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 345px;

    z-index: 2;
}

#backgroundVector {
    width: 100%;
    height: 1356px;
    background-color: #E10600;

    clip-path: polygon(
            0% 5%, 5% 2%, 10% 6%, 15% 3%, 20% 7%, 28% 1%,
            35% 8%, 43% 4%, 50% 10%, 58% 2%, 65% 7%, 72% 3%,
            80% 9%, 88% 5%, 95% 10%, 100% 4%, 100% 94%, 95% 98%,
            90% 95%, 82% 99%, 75% 94%, 68% 97%, 60% 92%, 52% 99%,
            45% 95%, 38% 100%, 30% 94%, 21% 98%, 16% 93%, 7% 96%, 3% 94%, -1% 92%
    );

    z-index: 1;
}

/* Contact Head */
.contactHeader {
    padding: 0 60px 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    top: 360px;

    z-index: 2;
}

#headText {
    width: 400px;
    height: 120px;

    border: 3px solid #ffffff;
    font-family: "Luckiest Guy", cursive;
    font-size: 100px;
    color: #ffffff;
    background: #000000;

    display: flex;
    align-items: center;
    justify-content: center;
}

#contactMyImage {
    width: 314px;
    position: relative;
    top: 110px;
    right: 160px;
}

/* Contact Top Left Section */
#topLeft {
    margin: 0 0 0 60px;
    height: fit-content;
    width: 640px;
    text-align: left;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
    top: 200px;
}

#head {
    margin: 0;
    width: 518px;
    font-family: "Changa One", sans-serif;
    font-size: 50px;
}

#content {
    margin: 0;
    font-family: "Caveat Brush", cursive;
    font-size: 25px;
}

/* Contact Top Right Section */
#topRight {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
    left: 860px;
    top: 118px;
    transform: rotate(-3deg);
}

#headerTxt {
    margin: 0;
    width: 595px;
    height: 114px;
    background: #000000;
    color: #ffffff;
    font-family: "Luckiest Guy", cursive;
    font-size: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contactSection a {
    text-decoration: none;
    font-size: 60px;
}

#socialLinks {
    display: flex;
    justify-content: space-evenly;
}

































/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.footer.nameTxt {
    font-size: 520px;
    font-family: "Luckiest Guy", cursive;

    position: relative;
    top: 110px;
}

.footer.copyrightTxt {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}