:root {
    --theme-color-orange: #E10600;
    --theme-color-blue: #1C47D2;
}

body {
    margin: 0;
    background-color: #111111;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    z-index: 10;
}

/* Header */
header {
    width: 100%;
    height: 80px;
    align-items:center;
    padding: 0 60px 0 60px;
    font-size: 22px;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
}

header > nav {
    margin: 0;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    height: 45px;

    font-family: "Fjalla One", sans-serif;

    display: flex;
    align-items: center;
}

header > nav > ul a {
    text-decoration: none;
    color: #ffffff;
}

nav > ul {
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
}

nav > ul > li  a {
    margin: 0 30px 0 30px;
}

header > div:last-child {
    width: 100px;
    height: 45px;
    background: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div:last-child > a {
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    padding: 10px;
    color: #111111;
}

#logo {
    font-family: "Changa One", sans-serif;
}

/* Hero Section */
#heroSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Background Vector */
#heroSection > div:last-child {
    width: 1000px;
    height: 444px;
    background: var(--theme-color-orange);
    clip-path: polygon(
            0% 18%, 7% 5%, 16% 17%, 24% 6%, 29% 15%, 38% 7%, 44% 17%, 52% 4%, 62% 11%, 72% 0%, 77% 14%, 88% 0%,  86% 14%,
            92% 24%, 96% 30%, 90% 38%, 111% 63%, 100% 50%, 92% 63%, 99% 71%, 95% 80%, 100% 90%, 92% 91%, 100% 110%,
            81% 100%, 70% 97%, 45% 95%, 15% 95%, 3% 90%, 0% 50%
    );

    position: absolute;
    top: 110px;
    right: 0;
    left: 200px;
    margin: auto;

    z-index: 2;
}

/* Hello Text */
#heroSection > h1 {
    font-family: 'Compacta', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;

    display: flex;
    justify-content: center;

    position: relative;
    bottom: 55px;
}

#heroSection > h1 > span {
    color: var(--theme-color-orange);
}

/* Hello Left Section */
#myImageHero {
    width: 320px;
    position: relative;
    left: 180px;
    bottom: 230px;
    transform: rotate(-3.5deg);
}











































/* Contact Section */
#contactSection {
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 145px 0 0 0;
    z-index: 2;
}

#backgroundVector {
    width: 100%;
    height: 1356px;
    background-color: var(--theme-color-orange);

    clip-path: polygon(
            0% 5%, 5% 2%, 10% 6%, 15% 3%, 20% 7%, 28% 1%,
            35% 8%, 43% 4%, 50% 10%, 58% 2%, 65% 7%, 72% 3%,
            80% 9%, 88% 5%, 95% 10%, 100% 4%, 100% 94%, 95% 98%,
            90% 95%, 82% 99%, 75% 94%, 68% 97%, 60% 92%, 52% 99%,
            45% 95%, 38% 100%, 30% 94%, 21% 98%, 16% 93%, 7% 96%, 3% 94%, -1% 92%
    );

    z-index: 1;
}

/* Contact Head */
.contactHeader {
    padding: 0 60px 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;

    z-index: 2;
}

#headText {
    width: 400px;
    height: 120px;

    border: 3px solid #ffffff;
    font-family: "Luckiest Guy", cursive;
    font-size: 100px;
    color: #ffffff;
    background: #000000;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -11px;
    margin: 0;
}

#contactMyImage {
    width: 314px;
    position: relative;
    left: 925px;
    bottom: 155px;
}

/* Contact Top Left Section */
#topLeft {
    margin: 0 0 0 60px;
    height: fit-content;
    width: 640px;
    text-align: left;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
    top: 230px;
}

#head {
    margin: 0;
    width: 518px;
    font-family: "Changa One", sans-serif;
    font-size: 50px;
}

#content {
    margin: 0;
    font-family: "Caveat Brush", cursive;
    font-size: 25px;
}

/* Contact Top Right Section */
#topRight {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
    left: 860px;
    top: 118px;
    transform: rotate(-3deg);
}

#headerTxt {
    margin: 0;
    width: 595px;
    height: 114px;
    background: #000000;
    color: #ffffff;
    font-family: "Luckiest Guy", cursive;
    font-size: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contactSection a {
    text-decoration: none;
    font-size: 60px;
}

#socialLinks {
    display: flex;
    justify-content: space-evenly;
}

/* Contact Bottom Left Section */
#bottomLeft {
    margin: 200px 0 0 60px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.contactDetail {
    color: #ffffff;
    font-family: "Changa One", sans-serif;
    font-size: 40px;
}

.contactDetail > span {
    margin: 0 0 0 20px;
}

#address {
    width: 370px;
}

/* Contact Bottom Right Section */
#contactForm {
    margin: 0 60px 0 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    bottom: 415px;
    left: calc(100% - 660px);
}

.input {
    width: 600px;
    height: 65px;
    font-family: "Changa One", sans-serif;
    font-size: 25px;
    padding: 0 0 0 20px;
    background:
            repeating-linear-gradient(
                    45deg,
                    #f3f3f3,
                    #f3f3f3 2px,
                    #ededed 2px,
                    #ededed 4px
            );
    clip-path: polygon(
            0% 12%, 5% 5%, 10% 12%, 15% 4%, 20% 10%, 25% 5%,
            30% 12%, 35% 6%, 40% 14%, 45% 5%, 50% 13%, 55% 4%,
            60% 12%, 65% 6%, 70% 14%, 75% 5%, 80% 12%, 85% 4%,
            90% 10%, 95% 6%, 100% 12%,

            98% 15%, 99% 28%, 97% 33%, 99% 51%,
            97% 62%, 99% 74%, 98% 85%, 100% 93%,

            95% 95%, 90% 88%, 85% 97%, 80% 90%,
            75% 96%, 70% 88%, 65% 94%, 60% 86%,
            55% 96%, 50% 88%, 45% 94%, 40% 86%,
            35% 97%, 30% 90%, 25% 96%, 20% 88%,
            15% 94%, 10% 89%, 5% 95%,

            0% 95%, 2% 76%, 1% 70%, 2% 59%,
            0% 49%, 2% 36%, 1% 26%, 2% 22%
    );
}

#subjectField, #msgField {
    padding: 0 0 0 30px;
    position: relative;
    width: 800px;
    right: 200px;
}

#msgField {
    padding: 25px 25px 0 30px;
    height: 180px;
    resize: none;
}

button {
    background: #000000;
    width: 120px;
    height: 45px;
    color: #ffffff;
    border-radius: 20px;

    font-family: "Fjalla One", sans-serif;
    font-size: 25px;
}

.buttons {
    width: fit-content;
    position: relative;
    left: 306px;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.footer.nameTxt {
    line-height: 0.3;
    display: block;
    font-size: 520px;
    font-family: "Luckiest Guy", cursive;
}

.footer.copyrightTxt {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    margin: 155px 0 0 0;
}